%btn-clean {
	background: transparent;
	display: inline-block;
    font-weight: bold;
	-webkit-appearance: none;
	border: 0;
	padding: 0;
	outline: 0;
}

.btn-primary {
    @extend %btn-clean;
    border-radius: 4px;
    border: 0;
    background-color: $orange;
    color: #fff;
    font-size: rem(17);
    padding: rem(13 $gutter);
    display: inline-block;
    border-bottom: 2px solid #bb4100;
    line-height: rem(23);

    @include tablet-up {
        border-radius: 5px;
    }

    &--full {
        display: block;
        width: 100%;
        text-align: center;
    }

    &--full-sm {
        @include mobile {
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    &--dynamic {
        padding-left: 0;
        padding-right: 0;
    }

    &--medium {
        width: 100%;
        text-align: center;

        @include tablet-up {
            width: auto;
            min-width: rem(268);
            max-width: 100%;
        }
    }

    &--large {
        width: 100%;
        text-align: center;

        @include tablet-up {
            width: auto;
            min-width: rem(300);
            max-width: 100%;
        }
    }

    &--in-column {
        border-bottom-width: 1px;
        margin-top: rem(10);
    }

    &--align-right {
        float: right;
    }

    @include tablet-up {
        &--left {
            float: left;
            width: calc(50% - 10px);
        }

        &--right {
            float: right;
            width: calc(50% - 10px);
        }
    }

    &--disabled,
    &:disabled {
        background-color: $grey700;
        border-bottom-color: $grey700;
    }

    &:hover,
    &:focus {
        color: #fff;

        &:enabled {
            background-color: #df5208;
            border-bottom-color: #bb4100;
        }

        &:disabled {
            cursor: not-allowed;
        }
    }

    &:focus {
        outline: 0;
    }

    &--overlay {
        border-bottom-color: #331300;

        &:hover,
        &:focus {
            &:enabled {
                border-bottom-color: #331300;
            }
        }
    }

    &--disabled:focus,
    &--disabled:hover {
        &:enabled {
            background-color: $grey400;
            border-bottom-color: $grey400;
        }
    }
}

.btn-secondary {
    @extend .btn-primary;
    background-color: $grey400;
    border-bottom-color: #252629;

    &:hover:enabled,
    &:focus:enabled {
        background-color: #686c73;
        border-bottom-color: #303236;
    }

    &--overlay {
        border-bottom-color: #303236;
    }

    &--full {
        @extend .btn-primary--full;
    }

    &--full-sm {
        @extend .btn-primary--full-sm;
    }

    &--dynamic {
        @extend .btn-primary--dynamic;
    }

    &--medium {
        width: 100%;
        text-align: center;

        @include tablet-up {
            width: auto;
            min-width: rem(268);
            max-width: 100%;
        }
    }

    &--large {
        width: 100%;
        text-align: center;

        @include tablet-up {
            width: auto;
            min-width: rem(300);
            max-width: 100%;
        }
    }

    &--light {
        background-color: #858f97;
        border-bottom-color: #47494e;

        &:hover,
        &:focus {
            &:enabled {
                background-color: #909aa3;
                border-bottom-color: #54565c;
            }
        }
    }

    @include tablet-up {
        &--left {
            float: left;
            width: calc(50% - 10px);
        }

        &--right {
            float: right;
            width: calc(50% - 10px);
        }
    }
}

.btn-tertiary {
    @extend .btn-primary;
    background-color: #fff;
    border-bottom-color: #bb1600;
    color: $orange;

    &:hover,
    &:focus {
        color: $orange;

        &:enabled {
            background-color: #f4f4f4;
            color: $orange;
        }
    }

    &--full {
        @extend .btn-primary--full;
    }
}

.btn-quaternary {
    @extend .btn-primary;
    background-color: $grey900;
    border-bottom-color: $grey400;
    color: $grey400;

    &:hover,
    &:focus {
        background-color: $grey800;
        color: $grey400;
    }
}

.btn--disabled {
    border-bottom-color: $grey700 !important;
    background-color: $grey700 !important;
    cursor: not-allowed !important;
}

.btn--small {
    padding: .6rem 1.2rem;
    font-size: 1.6rem;
}