$icomoon-font-family: "alka" !default;
$icomoon-font-path: "fonts" !default;

$icons:(

icon-accident: "\e900",
icon-alert: "\e901",
icon-alertform: "\e902",
icon-arrow: "\e903",
icon-arrow-back: "\e904",
icon-arrow-formselect: "\e905",
icon-atv: "\e906",
icon-basket: "\e907",
icon-bell: "\e908",
icon-bike: "\e909",
icon-bus: "\e90a",
icon-business: "\e90b",
icon-call: "\e90c",
icon-camper: "\e90d",
icon-camping: "\e90e",
icon-car: "\e90f",
icon-chat: "\e910",
icon-check: "\e911",
icon-check-small: "\e912",
icon-check-small-optional: "\e913",
icon-childinsurance: "\e914",
icon-circle: "\e915",
icon-close: "\e916",
icon-contact: "\e917",
icon-contents: "\e918",
icon-convirtible: "\e919",
icon-cottage: "\e91a",
icon-creditcard: "\e91b",
icon-critical: "\e91c",
icon-cycle: "\e91d",
icon-discount: "\e91e",
icon-document: "\e91f",
icon-dog: "\e920",
icon-dots: "\e921",
icon-download: "\e922",
icon-electronics: "\e923",
icon-email: "\e924",
icon-email-closed: "\e925",
icon-email-field: "\e926",
icon-facebook: "\e927",
icon-familysuv: "\e928",
icon-file-pdf: "\e929",
icon-gift: "\e92a",
icon-grouplife: "\e92b",
icon-hatchback: "\e92c",
icon-help: "\e92d",
icon-horsetrailer: "\e92e",
icon-house: "\e92f",
icon-hr-agent: "\e930",
icon-iphone: "\e931",
icon-jeep: "\e932",
icon-jobagent: "\e933",
icon-kolonihouse: "\e934",
icon-life: "\e935",
icon-linkedin: "\e936",
icon-lock: "\e937",
icon-locked: "\e938",
icon-logo: "\e939",
icon-minibus: "\e93a",
icon-minus: "\e93b",
icon-moped: "\e93c",
icon-more: "\e93d",
icon-owner: "\e93e",
icon-pay: "\e93f",
icon-person: "\e940",
icon-persons: "\e941",
icon-pin: "\e942",
icon-question: "\e943",
icon-report: "\e944",
icon-retshjaelp: "\e945",
icon-search: "\e946",
icon-sedan: "\e947",
icon-smiley: "\e948",
icon-sports: "\e949",
icon-tent: "\e94a",
icon-tractor: "\e94b",
icon-trailer: "\e94c",
icon-trash: "\e94d",
icon-travel: "\e94e",
icon-Travel-cancel: "\e94f",
icon-truck: "\e950",
icon-union: "\e951",
icon-vejhjaelp: "\e952",

);